
@{
    ViewBag.Title = "GetBook";
}
<form method="post">
    <p>Book name</p>
    <input type="text" name="title" />
    <p>Author name</p>
    <input type="text" name="author" />
    <input type="submit" name="Submit" />
</form>